body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 162, 255), rgb(0, 87, 128));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img{
    height: 250px;
    width: 250px;
}

.login_container{
    display: flex;
    justify-content: center;
}

.login_box{
    background-color: white;
    padding: 30px 20px 60px 20px;
    
}

.login_box h3{
    text-align: center;
}
