body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 162, 255), rgb(0, 87, 128));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img{
    height: 250px;
    width: 250px;
}

.login_container{
    display: flex;
    justify-content: center;
}

.login_box{
    background-color: white;
    padding: 30px 20px 60px 20px;
    
}

.login_box h3{
    text-align: center;
}

form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input{
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    display: block;
    width: 200px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

label{
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 10px;
    color: grey;
}

.input_box {
    position: relative;
    margin-bottom: 20px;
}

.input_box label {
    position: absolute;
    top: 0;
    left: 10px;
    pointer-events: none;
    transition: 0.3s;
}

.input_box input:focus + label,
.input_box input:valid + label {
    top: -20px;
    font-size: 12px;
    color: blue;
}

input:focus{

    border-bottom: 2px solid blue;
}