body {
    width: 100%;
    height: 100vh;
    margin: 0;
   background: linear-gradient(180deg, #4db8ff 0%, #0066a3 100%);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 80%;
    height: 86vh;
    background: #e6e6e6;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image {
    background: linear-gradient(to bottom, aquamarine, aqua);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
}

.image img {
    width: 300px;
    height: auto;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.input_box {
    position: relative;
    width: 220px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 10px 5px 5px 5px;
    font-size: 16px;
    outline: none;
    transition: border-color .3s;
}

input:focus {
    border-bottom: 2px solid #0077ff;
}

label {
    position: absolute;
    top: 12px;
    left: 6px;
    color: grey;
    pointer-events: none;
    transition: .3s ease;
}

.input_box input:focus + label,
.input_box input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #0077ff;
}

input[type = "submit"]{
    border: 2px solid #0D6EFD;
    background-color:  #0D6EFD;
    padding: 4px 0;
    border-radius: 5px;
    color: white;
}

input[type = "submit"]:hover{
    transition: all 0.3s ease-in-out;
    background-color:  black;
    border: 2px solid #0D6EFD;
}