body{
    margin: 0;
    padding: 0;
    background-color: white;
   font-family: 'Trebuchet MS', Arial, sans-serif;
}

.hero{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../bank.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
}
.hero h1{
    position: relative;
    font-size: 150px;
    font-weight: bolder;
    color: white;
    animation-name: startup;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    margin: 10px;
}
.hero p{
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    animation-name: startups;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    margin: 10px;
}


@keyframes startup{
    0%{left: -100%;}
    100%{left: 0;}
}
@keyframes startups{
    0%{top: -100%;}
    100%{top: 0;}
}

.board-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}
.the-board{
    background-color: rgb(233, 233, 233);
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: 1px 1px 10px 8px rgb(0, 0, 0, 0.15);
}
.con{
    background-color: white;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid;
    box-shadow: 1px 1px 10px 6px rgb(0, 0, 0, 0.15);
}

.con h1{
    font-size: 70px;
    text-align: center;
    margin: 22px;
    margin-bottom: 0;
}

.con i{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid #0D6EFD;
    background-color:  #0D6EFD; 
    padding: 5px;
    border-radius: 5px;
    
}
a:hover{
    transition: all 0.3s ease-in-out;
    background-color:  black;
    border: 2px solid #0D6EFD;
}

.btn{
    display: flex;
    justify-content: end;
    margin: 0;
}

form{
    position: absolute;
    top: 20px;
    right: 20px;
}

input[type="submit"] {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}




