body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: linear-gradient(180deg, #4db8ff 0%, #0066a3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 10px rgb(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

input{
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 10px 5px 5px 5px;
    font-size: 16px;
    outline: none;
    transition: border-color .3s;
}

label {
    position: absolute;
    top: 12px;
    left: 6px;
    color: grey;
    pointer-events: none;
    transition: .3s ease;
}
div {
    position: relative;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    top: -10px;
    font-size: 12px;
    color: #0077ff;
}
input:focus{
    border-bottom: 2px solid #0077ff;
}

input[type = "submit"]{
    border: 2px solid #0D6EFD;
    background-color:  #0D6EFD;
    padding: 4px 0;
    border-radius: 5px;
    color: white;
}