::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #1b1b1b; 
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #1b1b1b; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; 
}
